/* If you are not using Tailwind's build process, import the compiled CSS instead: */
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

.scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  .scroll-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
